<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>Execute Script</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body><h1>Astrology App</h1>
    Date of birth
    Day<input id="day"></input>
    Month<input id="month"></input>
    Year<input id="year"></input>
    Hour(0-24)<input id="hour"></input>
    Minutes(0-59)<input id="minutes"></input>
    Country <input id="country"></input>

    <button id="execute-script">Execute Script</button>
    <div id="result"></div>

    <script>
        let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        document.getElementById('execute-script').addEventListener('click', function () {
            const day = document.getElementById('day').value;
            const month = document.getElementById('month').value;
            const year = document.getElementById('year').value;
            const hour = document.getElementById('hour').value;
            const minutes = document.getElementById('minutes').value;
            const country = document.getElementById('country').value;
           fetch('/run_script/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify({
            day: day,
            month: month,
            year: year,
            hour: hour,
            minutes: minutes,
            country: country
        })
    })
    .then(response => response.text())
    .then(data => {
        document.getElementById('result').innerText = data;
    });
});
    </script>
</body>
<h2>Some prayers:</h2>
Hail, Holy Queen, Mother of Mercy,
our life, our sweetness and our hope.
To thee do we cry, 
poor banished children of Eve.
To thee do we send up our sighs,
mourning and weeping in this valley of tears.
Turn then, most gracious advocate,
thine eyes of mercy toward us,
and after this our exile
show unto us the blessed fruit of thy womb, Jesus.
O clement, O loving,
O sweet Virgin Mary.
<p></p>
Saint Michael the Archangel, defend us in battle. Be our protection against the wickedness and snares of the devil; May God rebuke him, we humbly pray; And do thou, O Prince of the Heavenly Host, by the power of God, thrust into hell Satan and all evil spirits who wander through the world for the ruin of souls.
</html>